footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: $foot-font;

    @media screen and (max-width: $break-tablet) {
        flex-direction: column;
        text-align: center;
    }     

    p {
        padding: 0em 1em 0em;
        margin: 0;
    }

    a {
        color: $text-color;
        text-decoration: underline;
    }
}