@import '_variables';
@import '_mixins';
@import '_style';
@import '_header';
@import '_footer';

body {
    //hidden overflow needed for height in body:before
    overflow: hidden;
    @media screen and (max-width: $break-tablet) {
        overflow: visible;
    }  
}

//white part of background
body:before {
    content: '';
    position: absolute;
    top: 0; left: -20em;
    width: 50%; 
    height: 120%; //more than 100% for mobile chrome (navigation bar)
    background: white;
    transform-origin: 100% 0;
    transform: skewX(20deg);
    z-index: -1;
    //only red background at small screens
    @media screen and (max-width: $break-tablet) {
        display: none;
    }    
}

main {
    padding: 15vh 1em 5em 1em;
    display: flex;

    @media screen and (max-width: $break-tablet) {
        padding: 2.5em 1em 5em 1em;
        flex-direction: column;
        text-align: center;
    }   
    
    .about-left {
        flex: 1;
        text-align: center;
    
        .logo-big {
            margin: 3.5em 1em 0 0;
            width: 18em;
            @media screen and (max-width: $break-tablet) {
                margin: 0;
                width: 35vw;
            }
            fill:$dark-color;
        }
    }

    .about-right {
        flex: 1;
    
        .about-name {
            font: $name-font;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 0.25em;
            @media screen and (max-width: $break-tablet) {
                font-size: 10vw;
            }
        }    
        
        .social{
            svg {
                height: 1.5rem;
                margin-right: 0.5rem;
                fill: white;
            }
        }
    }
}

footer {
    .copyright {
        color: $dark-color;
        a {color: $dark-color;}
        @media screen and (max-width: $break-tablet) {
            color: $text-color;
            a {color: $text-color;}
        }
    }
}