@import '_variables';
@import '_mixins';
@import '_style';
@import '_header';
@import '_footer';

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: reverse;

    .cards-item {
        box-sizing: border-box;
        padding: 1em;

        //4 cards in a row for widescreen (4k) monitors, 3 for pc, 2 for tablet, 1 for mobile
        width: 25%;
        @media screen and (max-width: $break-widescreen) {
            width: 33.3333%;
        }
        @media screen and (max-width: $break-tablet) {
            width: 50%;
        }        
        @media screen and (max-width: $break-mobile) {
            width: 100%;
        }

        .card {
            background-color: white;
            border-radius: 0.25em;
            box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
    
            .card-image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
                padding-top: 66.6666%; // 3:2 aspect ratio
            }
            //card images are at the end
        
            .card-content {
                display: flex;
                flex: auto;
                flex-direction: column;
                padding: 0.5em;
        
                .card-text {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1rem;
                    color: $grey-dark;
            
                    .left-text {
                        display: inline-block;
                        margin-right: 0.5em;
                    }
            
                    .right-text {
                        text-align: right;
                    }
            
                    .icon {
                        height: 1rem;
                        vertical-align: text-top;
                        fill: $grey-dark;
                    }
                }
            }
        }
    }
}

.lightbox {
    visibility: hidden;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.9);
    //transition
    opacity: 0;
    transition: .5s ease-in-out;

    div {
        margin: auto;
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        //transition
        max-width: 0%;
        max-height: 0%;
        transition: .5s ease-in-out;

        //images are at the end
    }
}

.lightbox:target {
	//Remove default browser outline
	outline: none;
	//Unhide lightbox
    visibility: visible;
    //transition
    opacity: 1;
    div {
        max-width: 95%;
        max-height: 95%;
    }
}

//thumnails
.card-image--photo-001 {@include webthumb(photos/maximilian-schmidt-IMG_0026);}

//full images
#photo-001 div {@include webimage(photos/maximilian-schmidt-IMG_0026);}
